<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>一个论文爬虫</title>
</head>
<body background="{{url_for('static', filename='pachongbanner1.jpg')}}"
      style=" background-repeat:no-repeat ;background-size:100% 100%;background-attachment:fixed;" >

<div align="center" style="margin-top:150px">
    <font size="5" color="white"><strong>这是一个论文爬虫</strong></font><br><br>

</div>


<div align="center" style="margin-top:0px">
    <form method="post" class="pachong"   style="margin-top:0px">
        <font size="3" color="white"><strong>请输入关键字：</strong></font>
        <input type="text" maxlength="100"  name="guanjianzi" class="i-text"  value=""/><br><br>
        <input class="submit" type="submit" name="submit" value="立即搜索" >
    </form>

</div>

</body>
</html>